#container {
  margin-top: 5px;
  margin-left: 200px;
  margin-right:200px;
  
  padding: 5px 150px 10px 150px;
  border-radius: 15px;
  background-color: #DCDCDC;
  text-align: middle;

  
}

#body {
  
  margin-top: 5px;
  margin-left: 200px;
  margin-right:200px;
  
  padding: 5px 150px 10px 150px;
  border-radius: 15px;
  background-color: #DCDCDC;
  text-align: middle;
  
}
  
.information {
    text-align: middle;
    font-size: 25px;
}

.Summary {
  text-align: middle;
  font-size: 25px;
}

h1 {
font-size: 75px;
  font-style: serif;
}

h2 {
  font-size: 30px;
  font-style: verdana;
}

h3 {
  font-style: serif;
}

Previous-experience {
  margin-top: 10px;
  margin-left: 200px;
  margin-right:200px;
  
  padding: 10px 150px 10px 150px;
  border-radius: 15px;
  background-color: #DCDCDC;
  text-align: middle;
}

.checklist {
  font-style: serif;
  font-size: 10px;
}

